


body {
    font-family: "Poppins";
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;


}
.profile-id, .profile-name {
    flex: 1;
}

.pro-image ,
.pro-id{
    flex: 1;
}

.pro-id{
    margin-left: 80px;
}

.pro-description
{
    flex: 2;
    margin-left: 100px;
}

.pro-date{
    flex:2;
   
}

.profile-date{
  margin-left: 90px;
}

.profile-name{
  margin-left: 20px;
}


.pro-id{
    margin-left: -40px;
  }
  
.profile-record {
    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    color:black;
    transition: transform 0.3s ease-in-out;
    width: 90%;
    margin-left: 100px;
    margin-top: 20px;
    text-align: center;
    
  
}

.profile-record:hover {
    transform: scale(1.05);
}

.profile-id,
.profile-image
{
    flex: 1;
}

.profile-name,.profile-date {
    flex: 2;
}

.profile-id{
    font-weight: bold;
}
 .profile-image{
    font-size: 16px;
    width: 20px;
  }
.profile-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
    transition: transform 0.1s ease, filter 0.1s ease;
   
}

  .insights > div {
    width: 320px;
    background:black;
    padding: 20px 5px 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgb(187, 184, 184);
    transition: 0.5s ease-in-out;
    border-right: 10px solid rgb(253, 253, 253);
    color: #000000;
    margin-left: 60px;
    margin-right: 30px;
    font-size: 14px;
    height: 350px;
    color: white;
    margin-top: 40px;
  }
  .insights > div:hover {
    box-shadow: 0 5px 10px 5px rgb(161, 161, 161);
    border-right: 10px solid black;
  }

.white-frame{
    margin-top: 20px;
}

.white-frame ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    text-decoration: none;
}


.white-frame li {
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    padding: 10px;
    padding-left: 5px;
    color:white;
    display: flex;
    align-items: center;
   
}


.white-frame input[type="checkbox"] {
    position: absolute;
    left: 0;
    opacity: 0;
}

.white-frame label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    color: white;
}


.white-frame label::before {
    content: '\2610'; /* Unicode character for an empty checkbox */
    position: absolute;
    left: 0;
    font-size: 20px;
    color: #dfd9d9;
}

.white-frame input[type="checkbox"]:checked + label::before {
    content: '\2611'; /* Unicode character for a checked checkbox */
    color: #ff0000;
}

.white-frame label:hover {
    text-decoration: underline;
    color: #ff0000;
}

.white-frame li span {
    margin-left: 10px;
    color: #ababab;
    font-style: italic;
}

/* .sections{
    display: flex;
} */


.logout-button {
    text-align: right;
    margin-top: 3px;
    /* Increase the top margin for better spacing */
    height: 5px;
    align-content: end;
    justify-content: end;


}
h2{
    align-items: center;
    text-align: center;
}
/* Style for the Log Out button */
.logout-button button {
    outline: none;
    margin-left: 84%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: right;
    align-self:self-end ;
    padding: 10px 20px;
    width: 150px;
    background-color: red;
    font-weight: bolder;
    margin-top: 10px;
    /* box-shadow: 0 0 10px rgb(62, 54, 54); */
    

}

.logout-button button:hover {
   
    
    opacity: 0.8;
    transform: scale(1.05);
   
}

.title-profile{
    margin-top: -40px;
}
.section-title {
    font-size: 2em;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1%;
    font-family:"Poppins";
    margin-left: 10%;
  }
  .fas.fa-bread-slice.fa-3x.text-primary.mb-4{
    margin-left: 50%;
   
  
  } 
 
    
.fas.fa-bread-slice.fa-3x.text-primary.mb-4 :after{
  margin-left: 100px;
 

}
 
  
  .divider .icon-wrap:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #ff0000;
    width: 120px;
    height: 17px;
  
  }
  
  .divider.dark .icon-wrap:before,
  .divider.dark .icon-wrap:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #ff0000;
    width: 200px;
    height: 17px;
  
  }
  
  .divider .icon-wrap:before,
  .divider.dark .icon-wrap:before {
    left: 460px;
    transform: translateX(-50%);
  
  
  }
  
  .divider .icon-wrap:after,
  .divider.dark .icon-wrap:after {
    right: 380px;
    transform: translateX(50%);
  }
  
.sections{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.profile-table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    margin-top: 40px;
    width: 90%;
    align-self: center;
    
}

.profile-header {
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 8px;
    font-weight: bold;
    width: 90%;
    color: black;
    margin-left: 100px;
  
}

.home-section {
    position: relative;
    transition: all 0.5s ease;
    /* min-height: 100vh; */
    left: 20px;
    margin-top: 100px;
    width: calc(100% - 68px);
    /* z-index: 2; */
  }

  .sidebar.open ~ .home-section {
    left: 150px;
    width: calc(100% - 150);
  } 

