@media screen and (max-width: 768px) {

    /* Adjust styles for smaller screens */
    .sidebar {
        display: none;
        /* Hide the sidebar menu on small screens */
    }

    /* Modify other styles as needed */
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");


body {
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
    font-family: sans-serif;
}

.login_container {
    width: 100%;
    height: 540px;
    max-width: 900px;
    margin: 30px auto;
    /* border: 2px solid #ccc; */
    overflow: hidden;
    /* background:white; */
    border-radius: 10px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    display: flex;


   
   
   
}


.form-container {
    position: relative;
    width: 900px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    float: right;
    box-sizing: border-box;
    background: white;

}



.inputbox {
    position: relative;
    margin: 5px 0;
    max-width: 310px;
    border-bottom: 2px solid #aea7a7;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.8s ease-in-out;
}

.inputbox input:placeholder-shown ~ label {
    top: 50%;
    
}

input:focus ~ label, 
input:valid ~ label {
    top: -5px;
}
.inputbox i{
    position: absolute;
    /* right: 8px; */
    color: #000000;
    font-size: 1.2rem;
    margin-top: 20px;
}

.inputbox input {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #cacaca; 
    margin-left: 20px;
}


.inputbox select {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #cacaca; 
    margin-left: 20px;
}
.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 20px;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color:red;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
    margin-bottom: 10px;
}

button:hover {
  background-color: rgba(255, 237, 237, 0.5);
}

.register {
    font-size: 0.9rem;
    color: #000000;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.form-container button {
    background-color:red;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #000000;
}

@media (max-width: 768px) {

    .form-container,
    .container img {
        width: 100%;
        float: none;
        border-radius: 0;
    }
}


h1 {
    
    align-items: center;
    /* font-size: 2rem; */
    text-align: center;
    color:black;
    /* letter-spacing: 0.08rem;
    margin: 2rem 0 1rem;*/
    font-weight: 900; 

    font-family: "Source Code Pro", sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 8px;
    /* margin: 0 0 15px;
    margin-top: 5px; */

}

.line-inputs{
    display: flex;
    gap: 100px;
}


.inputbox select {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #717171;
}

.line-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;
}

.line-inputs .inputbox {
    flex: 1 1 calc(33.33% - 20px); 
}

.button-container {
    width: 100%;
    text-align: center;
}

button {
    width: 60%; 
    margin: 20px auto; 
    margin-left: 120px;
   
}