@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --grey: #f1f0f6;
  --dark-grey: #8d8d8d;
  --light: #fff;
  --dark: #000;
  --green: #81d43a;
  --light-green: #e3ffcb;
  --blue: #1775f1;
  --light-blue: #d0e4ff;
  --dark-blue: #0c5fcd;
  --red: #fc3b56;
}
body {
  background-color: #ffffff;
}
.no-results-message {
  /* display: flex; */

  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: red;
  font-weight: bold;
}
.delete-btn{

  /* align-items: center;
  justify-content: center;
  height: 100vh;
  color: red;
  font-weight: bold; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  border: 1px solid red;
  color: red;
  display: none;
}
.delete-btn {

  right: 1%;
  font-size: 16px;
  width: fit-content;
  text-decoration: none;
  color: var(--red);
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 6px;
  color: #000;
  border: none;
  background: var(--blue);
}
  form {
    max-width: 800px;
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    margin-left: -30px;
  }
 form .ad-form-input {
    display: flex;
    align-items: center;
    height: 36px;
    margin-left: 350px;
    margin-top: 0px;

  }
  
 form .ad-form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: rgb(255, 255, 255);
    outline: none;
    border-radius: 36px 0 0 36px;
    box-shadow: 0px 0px 10px 0px rgb(187, 184, 184);
    width: 400px;
    
  
  }
  
 form .ad-form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgb(187, 184, 184);
    transition: 0.3s ease;
  }
  
 form .ad-form-input button:hover {
    /* background: rgb(236, 236, 236); */
    font-size: 20px;
    /* color: black; */
  }


.btn {
  position: absolute;
  background: var(--red);
  left: 85%;
  top: 8.5%;
  padding: 0px 30px;
}

.view-order-btn {
  position: relative;
  background: var(--red);
  left: 30%;
}

.ok-btn {
  position: absolute;
  background: var(--red);
  left: 85%;
  top: 93%;
  padding: 10px 30px;
}

.btn,
.view-order-btn,
.ok-btn {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: var(--light);

  transition: all 0.3s ease;
  border-radius: 10px;
  font-weight: 600;
  border: none;
}

.btn:hover {
  background: darkred;
}

.view-order-btn:hover {
  background: darkblue;
}


/* .text-status {
  background-color: rgb(16, 197, 52);
  border-radius: 12px;
  width: fit-content;
  padding: 2% 13%;
  margin-left: 0%;
} */


.report {

  position: absolute;
  height: fit-content;
  width: 60%;
  background: #ffffff;
  margin-top: 3%;
  margin-bottom: 3%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
  transition: transform 0.5s, top 0.5s;
  justify-content: center;
}

.popup-view,
.popup-report {
  position: absolute;
  height: fit-content;
  width: 60%;
  background: #ffffff;
  margin-top: 3%;
  margin-bottom: 3%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
  visibility: hidden;
  transition: transform 0.5s, top 0.5s;
  justify-content: center;
}

.open-popup-view,
.open-popup-report {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  z-index: 101;
}

.popup-report h2 {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 4%;
  margin: 4px;
  font-weight: bold;
}

.popup-report h4 {
  text-align: left;
  padding-left: 10%;
  padding-bottom: 2%;
}

.popup-report input,
textarea {
  position: relative;
  left: 9%;
  width: 80%;
  background: #d5dfe7d5;
  border-radius: 20px;
  border-style: solid;
  border: #000;
  outline-width: 1px;
  padding: 10px 30px;
  margin-bottom: 2%;
  transition: all 0.3s ease;
  color: var(--dark);
}

.popup-report .btns {
  position: relative;
  left: 40%;
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-report .close-btn,
.cancelR-btn {
  right: 1%;
  font-size: 16px;
  width: fit-content;
  text-decoration: none;
  color: var(--red);
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 6px;
  color: #000;
  border: none;
  background: var(--red);
}

.popup-report .cancelR-btn {
  right: 23%;
  background: var(--blue);
  text-decoration: none;
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.overlay-active {
  opacity: 1;
  pointer-events: all;
  z-index: 100;
}

.popup-view h2 {
  text-align: center;
  padding-top: 4%;
  margin: 20px;
}

.status {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: pop;
  flex-direction: column;
  margin-top: 6%;
}

.status ul {
  display: flex;
  margin-top: 80px;
}

.status ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status ul li iconify-icon {
  font-size: 35px;
  color: #fff;
  margin: -60px 60px;
  z-index: 1;
}

.status ul li .text {
  font-size: 14px;
  font-weight: 600;
  color: #191919;
}

/* Progress Div Css  */

.status ul li .progress {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #191919;
  margin: 14px 0;
  display: grid;
  place-items: center;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.progress::after {
  content: " ";
  position: absolute;
  width: 125px;
  height: 5px;
  background-color: #191919;
  right: 30px;
}

.one::after {
  width: 0;
  height: 0;
}

.status ul li .progress .uil {
  display: none;
  background-color: #191919;
}

.status ul li .progress p {
  font-size: 13px;
}

/* Active Css  */

.status ul li .one,
.status ul li .two,
.status ul li .progress.two::after {
  background-color: green;
}

/* ul li .active{
  background-color: green;
  display: grid;
  place-items: center;
}
li .active::after{
  background-color: green;
}
ul li .active p{
  display: none;
}
ul li .active .uil{
  font-size: 20px;
  display: flex;
} */

/* Responsive Css  */

@media (max-width: 980px) {
  .status ul {
    flex-direction: column;
  }

  .status ul li {
    flex-direction: row;
  }

  .status ul li .progress {
    margin: 0 30px;
  }

  .progress::after {
    width: 5px;
    height: 55px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .one::after {
    height: 0;
  }

  .status ul li .icon {
    margin: 15px 0;
  }
}

.container1 {
  max-width: 700px;
  width: 100%;
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 15px;
  margin-left: 8%;
}

.container1 .emptitle {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container1 .emptitle::before {
  content: "";
  position: absolute;
  left: 285px;
  bottom: 11px;
  height: 4px;
  width: 50px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

/* student form details  */

.container1 form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 10px;
  width: calc(100% / 2 - 20px);
  overflow: hidden;
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box .size {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  padding-left: 8%;
  width: 20%;
}

.container1 form .sizes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-details .input-box input,
select {
  width: 100%;
  height: 45px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 15px;
  transition: all 0.3s ease-in;
  border-bottom-width: 2px;
}

.popup-view .pb {
  position: absolute;

  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: var(--light);

  transition: all 0.3s ease;
  border-radius: 10px;
  font-weight: 600;
  margin-bottom: 12px;
  border: none;
}

.popup-view .update-btn {
  right: 20%;
  background: var(--blue);
}

.popup-view .update-btn:hover {
  background: darkblue;
}

.popup-view .cancel-btn {
  right: 3%;
  background: var(--red);
}

.popup-view .cancel-btn:hover {
  background: darkred;
}

/* @media screen and (max-width: 950px) {
  .btn,
  .desc,
  .cost{
    visibility: hidden;
    empty-cells: hide;
  }
}

@media screen and (min-width: 950px) {
  .btn{
    float: left;
    right: 5%;
    overflow: hidden;
    
  }
} */

/* .sidebar.open ~ .home-section {
    left: 190px;
    width: calc(100% - 190px);
  }
  .home-section {
    position: relative;
    transition: all 0.5s ease;
    min-height: 100vh;
    left: 8px;
    width: calc(100% - 58px);
    z-index: 2;
  } */


/* Add these styles to your existing CSS file or inline in HTML */

.image-preview {
  width: 70px;
  height: 70px;
  border-radius: 50%; /* Use 50% for a circle */
  object-fit: cover; /* Preserve aspect ratio and cover the entire container */

}



.title-profile{
  margin-top: 400px;
  margin-bottom: 20px;
}
.section-title {
  font-size: 1.5em;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1%;
  font-family:"Poppins";
  margin-left: 2%; 
  text-align: center;
  
}
.fas.fa-bread-slice.fa-3x.text-primary.mb-4{
  margin-left: 48%;
 

} 

  
.fas.fa-bread-slice.fa-3x.text-primary.mb-4 :after{
margin-left: 100px;


}


.divider .icon-wrap:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #ff0000;
  width: 120px;
  height: 17px;

}

.divider.dark .icon-wrap:before,
.divider.dark .icon-wrap:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #ff0000;
  width: 200px;
  height: 17px;

}

.divider .icon-wrap:before,
.divider.dark .icon-wrap:before {
  left: 30%;
  transform: translateX(-50%);


}

.divider .icon-wrap:after,
.divider.dark .icon-wrap:after {
  right: 30%;
  transform: translateX(50%);
}


.ad-id{
  margin-left: -40px;
}


.advertisement-header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  /* gap: 10px; */
  padding: 8px;
  /* background-color: #e0e0e0; */
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  color: black;
  margin-left: -90px;


}
 .header-item{
  /* margin-left: -40px;  */

  font-size: 13px;

}



.branch-id{
  /* flex: 2; */
  font-size: 13px;
  margin-right: -50px; 
 

}

.branch-loc{
  flex: 3;
  font-size: 13px;

}

.branch-name{
 
  font-size: 13px;

}



.advertisement-record {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.1);
  color:black;
  transition: transform 0.2s ease-in-out;
  width: 100%;
  margin-left: 50px;
  margin-top: 20px;
  width: 1000px;
  

}

.advertisement-record:hover {
  transform: scale(1.02);
}



.home-section {
  position: relative;
  transition: all 0.5s ease;
  width: calc(100% - 155px); /* Adjust width as needed */
  padding: 3%; /* Add padding to increase size */
  margin-top: 40px;
 
}

.sidebar.open~.home-section {
  left: 150px;
  width: calc(100% - 150px);
}

.add-btn{
  padding: 5px ;
}