@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.check_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
  font-family: pop, sans-serif;
  gap: 5%;
}

.check_container form {
  padding: 15px;
  width: 800px; /* Adjusted width */
  overflow: hidden;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  margin-left: auto; /* Centering horizontally */
  margin-right: auto; /* Centering horizontally */
}

.check_container form .check_row {
  display: flex;
  flex-wrap: wrap; /* Allowing elements to wrap */
  gap: 15px;
  justify-content: center; /* Centering elements horizontally */
}

.check_container form .check_row .check_col {
  flex: 1 1 250px;
  color: #333;
}

.check_title {
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.check_container form .check_row .check_col .check_inputBox {
  margin: 15px 0;
  display: flex;
  gap: 20px;
}

.check_inline {
  display: flex;
  align-items: center; /* Aligning items vertically */
  margin-bottom: 20px;
}

.check_inline .check_name {
  margin-right: 10px;
  color: black;
  font-size: 16px;
}

.check_inline input[type="radio"] {
  margin-right: 5px; /* Adjusted margin */
}

.check_inputBox .check_input {
  width: auto; /* Allowing width to adjust */
}

.check_container form .check_submit-btn {
  width: 100%;
  padding: 10px 30px;
  font-size: 15px;
  background: red;
  color: white;
  margin-top: -10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bolder;
}

.back-icon {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.back-icon i {
  color: white;
  font-size: 24px;
}

.pro_btn {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: var(--bodyColor);
  padding: 10px 30px;
  margin: 50px auto; /* Centering horizontally */
  font-weight: bolder;
  box-shadow: 0 0 10px rgb(62, 54, 54);
  cursor: pointer;
}

.pro_btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.check_inline .check_input {
  outline: none;
  font-size: 15px;
  padding: 10px;
  border: 1px solid #f5eded;
  border-radius: 5px;
  margin-right: 10px; /* Adjusted margin */
}

.check_inline select {
  width: 100%;
  font-size: 15px;
}

#note {
  margin-top: -10px;
}

#payment {
  margin-top: -30px;
}

.recipe_head {
  align-items: center;
  text-align: center;
  font-size: 25px;
  color: red;
  letter-spacing: 0.08rem;
  margin: 1rem 0 1rem;
  font-weight: 600;
}

.recipe_head_1 {
  font-weight: 800;
  color: black;
  white-space: nowrap;
  font-size: 18px;
}

.recipe_head_1 span {
  color: #d72323;
}

.summary-container {
  padding: 20px;
  padding-right: 10px;
  margin-top: 50px; /* Adjusted margin */
  overflow: hidden;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.1);
  background-color: #fbfbfb;
  border-radius: 10px;
  margin-right: auto; /* Centering horizontally */
  margin-left: auto; /* Centering horizontally */
  padding-bottom: 30px;
  color: #7b7b7b;
}

.total-product-price {
  color: black;
  font-weight: bold;
  text-align: center;
}

.summary-container h3 {
  color: black;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bolder;
  letter-spacing: 0.08rem;
  font-weight: 750;
  font-size: 15px;
}

.cart-summary-list {
  list-style-type: none;
}

#note , #payment{
  margin-top: 10px;
}