body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
}



.footer-section{
  display: flex;
  margin-top: 100px;
  background-color: black;
  color: white;
  height: 400px;
  text-decoration: none;
  font-size: 12px;
  font-family:"Poppins";
}

.footer-section i :hover {
 
  text-decoration: none;

}


.a-link{
 
  text-decoration: none;
}
.quick-links{
  width: 200px;
  margin-top: 60px;
  text-align: justify;
  margin-left: 40px;
  text-decoration: none;

  
}
.link-quick{
  padding: 10px;
  line-height: 30px;
  text-decoration: none;
}

.footer-section h3{
  font-size: 14px;
  font-weight: bolder;
}
.product-links{
  width: 200px;
  margin-top: 60px;
  text-align: justify;
  margin-left: 40px;
}

.link-product{
  padding: 10px;
  line-height: 30px;

}
.contact-link{
  width: 300px;
  margin-top: 60px;
  text-align: justify;
  margin-left: 40px;
}
.link-contact{
  padding: 10px;
  line-height: 30px;

}
.social-links {
  display: flex;
  /* justify-content: space-between; */
  padding: 10px;
  margin-left: -10px;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  height: 40px; 
  background-color: rgba(255, 255, 255, 0.2); 
  border-radius: 50%; 
  margin: 5px; 
  text-decoration: none;
}

.social-btn:hover{
  background-color: #ff0000;
  color: white;
}

.social-btn i {
  color: white;
  font-size: 20px; 
}


.newsletter{
  height: 300px;
}


.newsletter-link{
  width: 300px;
  margin-top: 60px;
  text-align: justify;
  margin-left: 40px;
  
}

.link-newsletter{
  padding: 10px;
  line-height: 30px;
  height: 200px;
  


}

.email-input{
  height: 65px;
  width: 280px;
  margin-left: 0px;
  border-radius: none;
  

}

.send{
  height: 50px;
  width: 80px;
  margin-top: 10px;
  margin-left: 0px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;

}

.send:hover{
 
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: scale(1.05); 
}

.confirm {
  display: flex;
  margin-top: -50px; 
  margin-left: 10px;
  
  
}

.confirm-content{
  margin-left: 10px;

}

.link-quick a {
  text-decoration: none; 
  color: #8a8a8a; 
  transition: color 0.3s ease; 
}

.link-quick i {
  transition: color 0.3s ease, transform 0.3s ease; 
  margin-right: 5px; 
}

.link-quick a:hover,
.link-quick i:hover {
  color: red; 
}


.link-product a {
  text-decoration: none; 
  color: #8a8a8a;
  transition: color 0.3s ease;
}

.link-product i {
  transition: color 0.3s ease, transform 0.3s ease; 
  margin-right: 5px; 
}

.link-product a:hover,
.link-product i:hover {
  color: red
  ; 
}

.link-contact p {
  text-decoration: none; 
  color:  #8a8a8a;
  transition: color 0.3s ease;
}

.link-contact i {
  transition: color 0.3s ease, transform 0.3s ease; 
  margin-right: 5px; 
}

  /* text-align: left; */
 /* font-size: smaller; */
 .credit {
  font-size: 12px; /* Adjust the font size as needed */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.copyright {
  text-align: center;
}
.home-section {
  width: calc(100% - 78px);
  margin-left: 78px;
  transition: all 0.5s ease;
}



.sidebar.open~.home-section {
  width: calc(100% - 250px);
  margin-left: 250px;
}

.sidebar.open~.navbar {
  width: calc(100% - 250px);
  margin-left: 200px;
}

