
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



 
.progress_main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: pop;
  flex-direction: column;
}

.bar_container {
  height: auto;
  align-items: center;

  display: flex;
  flex-direction: column;
  width: 100%;
  width: 900px;
  margin-top: 100px;
  padding: 40px;
  position: relative;
  border-radius: 8px;
  border: 2px solid #ccc;
  overflow: hidden;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.progress_head {
  text-align: center;
}

.progress_head_1 {
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.progress_head_1 span {
  color: #d72323;
}

.ul {

  display: flex;
  margin-top: 80px;
}


.ul li {

  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ul li .icon {

  font-size: 35px;
  color: black;
  margin: 0 60px;
}


.ul li .progress_text {

  font-size: 14px;
  font-weight: 600;
  color: #d72323;
}

.ul li .progress {

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  margin: 14px 0;
  display: grid;
  place-items: center;
  color: #f5eded;
  position: relative;
  cursor: pointer;
}

.progress::after {
  content: " ";
  position: absolute;
  width: 125px;
  height: 5px;
  background-color: black;
  right: 30px;
}

.one::after {
  width: 0;
  height: 0;
}


.ul li .progress .uil {
  display: none;
}

.ul li .progress p {
  font-size: 13px;
}

.ul li .active {

  background-color: #20d110;
  display: grid;
  place-items: center;
}

.bar_container li .active::after {
  background-color: #20d110;
}


.ul li .active p {
  display: none;
}

.ul li .active .uil {

  font-size: 20px;
  display: flex;
}

.button-container {
  display: flex;
  justify-content: space-between; 
}

.process_btn {
  outline: none;
  border: none;
  border-radius: 5px;
  color: var(--bodyColor);
  padding: 10px 30px;
  /* margin: 30px 80px; */
  font-weight: bolder;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  cursor: pointer;
  align-items: center;
  color: white;
}

#complaintButton {
  /* margin-left: 10vw;  */
  background-color: rgb(250, 54, 54);

}

.process_btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

@media (max-width: 678px) {

  .ul {
    flex-direction: column;
  }

  .ul li {
    flex-direction: row;
  }

  .ul li .progress {

    margin: 0 30px;
  }

  .progress::after {
    width: 5px;
    height: 55px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .one::after {
    height: 0;
  }

  .ul li .icon {

    margin: 15px 0;
  }
}

@media (max-width: 600px) {
  .progress_head .head_1 {
    font-size: 24px;
  }

  .progress_head .head_2 {
    font-size: 16px;
  }
}


.sidebar.open ~ .home-section {
  width: calc(100% - 190px);
}
.home-section {
  position: relative;
  transition: all 0.5s ease;
  min-height: 100vh;
  width: calc(100% - 58px);
  z-index: 2;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px; 
}

.text-container {
  text-align: left;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-container p {
  font-size: 16px; 
  color: grey;
  margin-top: 20px;
  font-weight: 400;
  font-style: italic;
} 


.text-container a{
  color: #d72323;
}
@media screen and (max-width: 768px) {

  .sidebar {
    display: none;
   
  }

  
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html,
body {
  height: 100vh;
  width: auto;
  font-family: "Poppins";
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: white;

}

.sidebar.open~.home-section {
 
  width: calc(100% - 50px);

}

.home-section {
  position: relative;
  transition: all 0.5s ease;
  min-height: 100vh;

  width: calc(100% - 58px);
  z-index: 2;
  margin-top: 50px;
}

.text-container h1{
  text-align: center;
  align-items:center ;
  font-size: 24px;

}