

body {
    font-family: "Poppins";
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;


}

.logout-button {
    text-align: right;
    margin-top: 10px;
    /* Increase the top margin for better spacing */
    height: 5px;
    align-content: end;
    justify-content: end;


}
/* Style for the Log Out button */
.logout-button button {
    outline: none;
    margin-right: 20%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: right;
    align-self:self-end ;
    padding: 10px 20px;
    width: 150px;
    background-color: red;
    font-weight: bolder;
    margin-top: 1%;
    /* box-shadow: 0 0 10px rgb(62, 54, 54); */
    

}

.logout-button button:hover {
   
    
    opacity: 0.8;
    transform: scale(1.05);
   
}

.title-profile{
    margin-top: -40px;
}
.section-title {
    font-size: 2em;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1%;
    font-family:"Poppins";
    margin-left: 2%; 
    text-align: center;
    
  }
  .fas.fa-bread-slice.fa-3x.text-primary.mb-4{
    margin-left: 48%;
   
  
  } 
 
    
.fas.fa-bread-slice.fa-3x.text-primary.mb-4 :after{
  margin-left: 100px;
 

}
 
  
  .divider .icon-wrap:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #ff0000;
    width: 120px;
    height: 17px;
  
  }
  
  .divider.dark .icon-wrap:before,
  .divider.dark .icon-wrap:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #ff0000;
    width: 200px;
    height: 17px;
  
  }
  
  .divider .icon-wrap:before,
  .divider.dark .icon-wrap:before {
    left: 30%;
    transform: translateX(-50%);
  
  
  }
  
  .divider .icon-wrap:after,
  .divider.dark .icon-wrap:after {
    right: 30%;
    transform: translateX(50%);
  }
  
.branches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
  
}

.branch-container {
    flex: 0 0 25%; /* Adjust the width for each container */
    /* margin: 10px;  */
    background: white;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgb(187, 184, 184);
    transition: 0.5s ease-in-out;
    color: #000000;
    text-align: center;
    width: 600px;
    height: 450px; 
    gap: 10px;
    grid-template-columns: 5px;
    /* border-right: 10px solid rgb(233, 229, 229); */
    margin-left: 40px;
    margin-right: 30px;
    font-size: 14px;
    margin-top: 40px;
    
}

.branch-container:hover {
    box-shadow: 0 0 5px 5px rgb(161, 161, 161);
    /* border-right: 10px solid black; */
  }

.branch-image {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
    margin-bottom: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 12px;
}

.branch-details {
    text-align: left;
    margin-left: 10px;
 
}

.sub-details{
    margin-top: 10px;
    color: rgb(110, 110, 110);
}
.row {
    display: flex;
    justify-content: space-between;
}
.branch-title{
    margin-top: 6px;
    font-size: 20px;
}
.branch-id{
    margin-top: 1px;
    margin-right: 20px;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;

}

.location-icon {
    width: 16px; /* Adjust the width and height as needed */
    height: 16px;
    margin-right: 5px; /* Adjust the margin as needed */
}

.clock-icon {
    width: 16px; /* Adjust the width and height as needed */
    height: 16px;
    margin-right: 5px; /* Adjust the margin as needed */
}


.home-section {
    position: relative;
    transition: all 0.5s ease;
    /* min-height: 100vh; */
    left: 20px;
    margin-top: 100px;
    width: calc(100% - 68px);
    /* z-index: 2; */
  }

  .sidebar.open ~ .home-section {
    left: 180px;
    width: calc(100% - 180);
  } 
